body{
    font-family: Consolas, monospace;
}

header {
    background-color: #282c34;
    height: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

h1 {
    font-size: 1em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counter {
    font-size: 1em;
    border: 1px solid #282c34;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
    width: 200px;
}

.counter__value {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.counter__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.counter__button {
    font-size: 1.5em;
    border: 1px solid #282c34;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.25em;
    flex-grow: 1;
    font-family: Consolas, monospace;
}